#contact-main {
	margin: 5% 20% 10%;
}

.formContainer {
	display: flex;
	gap: 79px;
	align-items: center;
}

.snackMessage {
	display: none;
	position: absolute;
	top: 31%;
	right: 10%;
	padding: 20px;
	padding-top: 10px;
	width: 350px;
	height: 16px;
	border-radius: 4px;
	background-color: red;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.snackMessage > span {
	text-align: center;
	font-family: 'Poppins';
	font-style: normal;
	line-height: 20px;
	font-weight: 300;
	font-size: 14px;
	color: white;
	letter-spacing: 0.01rem;
	padding-top: 2px;
}

.snackMessageCloseIcon {
	position: absolute;
	right: 20px;
	top: 10px;
	color: white;
	font-weight: 700;
	font-size: 22px;
	line-height: 18px;
	font-weight: 500;
}
.snackMessageInfoIcon {
	color: white;
	font-weight: 700;
	font-size: 22px;
	line-height: 20px;
	margin-right: 10px;
	font-weight: 500;
}

.title h2 {
	font-family: 'Poppins';
	color: #5c45ed;
	margin-bottom: 5px;
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
}

.title p {
	font-family: 'Poppins';
	color: #251650;
	margin-bottom: 49px;
	font-size: 0.875rem;
}

form {
	display: flex;
	flex-direction: column;
	width: 518px;
}

label {
	color: #5b3cf1;
	font-size: 1rem;
	font-family: 'Poppins';
}

input[type='text'],
input[type='email'],
textarea {
	padding: 10px;
	margin-top: 2.34px;
	margin-bottom: 27px;
	border-radius: 5px;
	border: 1.3px solid #ced4da;
	font-size: 1rem;
}

textarea {
	height: 9.56rem;
	resize: none;
	border-radius: 8px;
}

input[type='text']:focus,
input[type='email']:focus,
textarea:focus {
	outline: none;
	border: 1px solid #5b3cf1;
}

.buttonContainer {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 20px;
}

button[type='button'] {
	font-family: 'Poppins';
	border-radius: 6px;
	border: none;
	background-color: #5c45ed;
	color: #faf9ff;
	font-size: 0.875rem;
	font-weight: bold;
	cursor: pointer;
	width: 180px;
	height: 56px;
	text-transform: uppercase;
	transition: all 0.2s ease;
}

button[type='button']:hover {
	background-color: #4e39c4;
}

.imageContainer {
	width: 50%;
	max-width: 300px;
	margin-left: 20px;
}

.imageContainer img {
	width: 571px;
	height: 405px;
}

@media only screen and (max-width: 912px) {
	#contact-main {
		margin: 5% 10% 10%;
	}

	.imageContainer {
		display: none;
	}

	.snackMessage {
		display: none;
		position: absolute;
		top: 20%;
		left: 20%;
		padding: 20px;
		padding-top: 10px;
		width: 50vw;
		height: 16px;
		border-radius: 4px;
		background-color: red;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	}

	.snackMessage > span {
		text-align: center;
		font-family: 'Poppins';
		font-style: normal;
		line-height: 20px;
		margin-left: 10%;
		margin-top: 0.5%;
		font-weight: 300;
		font-size: 14px;
		color: white;
		letter-spacing: 0.01rem;
		padding-top: 2px;
	}

	.snackMessageCloseIcon {
		position: absolute;
		right: 20px;
		top: 0px;
		color: white;
		font-weight: 700;
		font-size: 22px;
		box-sizing: border-box;
		height: 45px;
	}
	.snackMessageInfoIcon {
		position: absolute;
		color: white;
		left: 20px;
		top: 0px;
		font-weight: 700;
		font-size: 22px;
		margin-right: 10px;
		box-sizing: border-box;
		height: 45px;
	}
}

@media only screen and (max-width: 500px) {
	#contact {
		margin: 5% 10% 10%;
	}

	.imageContainer {
		display: none;
	}

	.snackMessage {
		display: none;
		position: absolute;
		top: 200px;
		left: 0px;
		padding: 20px;
		padding-top: 10px;
		width: 89vw;
		height: 16px;
		border-radius: 4px;
		background-color: red;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	}

	.snackMessage > span {
		text-align: center;
		font-family: 'Poppins';
		font-style: normal;
		line-height: 20px;
		margin-left: 10%;
		margin-top: 0.5%;
		font-weight: 300;
		font-size: 14px;
		color: white;
		letter-spacing: 0.01rem;
		padding-top: 2px;
	}

	.snackMessageCloseIcon {
		position: absolute;
		right: 20px;
		top: 0px;
		color: white;
		font-weight: 700;
		font-size: 22px;
		box-sizing: border-box;
		height: 45px;
	}
	.snackMessageInfoIcon {
		position: absolute;
		color: white;
		left: 20px;
		top: 0px;
		font-weight: 700;
		font-size: 22px;
		margin-right: 10px;
		box-sizing: border-box;
		height: 45px;
	}
}
